@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(31 41 55);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(125, 211, 252);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}